<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/aboutus">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/whystocks">Why Stocks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/virtualpage">Virtual Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>                
              </ul>
              <form class="form-inline my-2 my-lg-1">
                <a href="https://google.com" target="_blank" class="btn btn-outline-success my-2 my-sm-0"role="button" aria-disabled="false">Use Google Search</a>
              </form>
            </div>
          </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-2 col-md-4">
                <br>
                <h5>Deepak Shrivastava</h5>
                <p>- M. Tech in Computer Science and Engineering.
                  <p></p>
                    Contact : 09389856085<p></p>
                    Email-ID : dpkshrivastava10@gmail.com</p>
            </div>
            <div class="col-md-2">
                <br>
                <img src="deepak.jpg" width="200" height="200">
            </div>    
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-4">
                <br>
                <br>
                <br>
                <h5>Monish Ashok Manwani</h5>
                <p>Aspiring Full Stack Developer who is interested programming, stocks formerly worked in the market research industry as field interviewer.</p>
            </div>
            <div class="col-md-2">
                <br>
                <br>
                <img src="monish.png" width="200" height="200">        
            </div>    
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-4">
                <br>
                <br>
                <br>
                <h5>Mohd Sami</h5>
                <p>Proficient in Node.js, JavaScript</p> 
                <p>Experienced in developing responsive, interactive websites.</p> 
                <p>Problem-solver with an inquisitive and innovative mind.</p>
                <p>Ability to take on the new challenges ahead together with the growing business.</p>
            </div>
            <div class="col-md-2">
                <br>
                <br>
                <img src="sami.jpg" width="200" height="210">        
            </div>    
        </div>



    </div>


</body>
</html>