<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="homepage.css">

</head>
<body>
    
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/aboutus">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/whystocks">Why Stocks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/virtualpage">Virtual Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

    <div class="container-fluid">
        
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <br>
          <h5>News To Assist You Narrow Down The Potential Winners</h5>
          <br>
          <p><strong>Praj jumps 8 per cent on tech tie-up with US firm</strong></p>
          <p>Praj Industries has signed a Construction License Agreement (CLA) with Gevo, Inc, USA to commercialise the technology for the production of lsobutanol using sugary-based feedstocks, such as juice, syrup and molasses. As per the agreement, Praj will be providing Engineering Procurement and Construction (EPC) services to third parties using a process design package developed by it. This package uses Gevo's proprietary lsobutanol biocatalyst on sugary-based feedstock. Isobutanol is a high energy renewable intermediate product having application across aviation and racing cars. Praj has also signed a Memorandum of Understanding (MOU) with Gevo Inc. for commercialising Gevo’s renewable hydrocarbons products which includes its renewable alcohol-to-jet fuel (ATJ) and renewable isooctane derived from Isobutanol. This partnership will enable Praj to expand its customer base who are interested in licensing Gevo’s technology to produce Isobutanol utilizing the sugary-based feedstock. Along with the CLA, both these parties have entered into a new Joint Development Agreement (JDA). This includes the process of producing Isobutanol using agricultural residues such as bagasse, rice straw, wheat straw, corn stover, cotton stalk and empty fruit bunches.</p>

          <br>
          <p><strong>Info Edge to invest in online footwear site ShoeKonnect</strong></p>
          <p>Info Edge has invested Rs. 6 crore via its wholly-owned subsidiary in Bizcrum Infotech (ShoeKonnect). The company has acquired 60,00,000 @ 0.01 per cent Compulsorily Convertible Preference Shares having a face value of Rs. 10 each. The aggregate shareholding of the company post this investment would be 29.79 per cent on a fully converted and diluted basis. ShoeKonnect is a B2B marketplace (ShoeKonnect App and www.shoekonnect.com website) that aids footwear brands, manufacturers, wholesalers and retailers to connect, communicate and transact for conducting and expanding their business. The platform facilitates catalogue/inventory uploading, order placement, order receipt, delivery scheduling and payment management amongst manufacturers, wholesalers and retailers. It had a turnover of Rs. 36.8 lakhs in 2017-18. Info Edge believes this strategic investment will enable the company to consolidate its presence in the aforesaid line of business within the Internet Services Industry.</p>

          <br>
          <p><strong>Shilpa Medicare receives approval for Bortezomib for Injection</strong></p>
          <p>Shilpa Medicare has received a tentative approval for its ANDA , Bortezomib for Injection, 3.5mg/vial from the USFDA. Bortezomib for Injection, 3.5mg/vial is a generic equivalent of reference listed drug (RLD), VELCADE used in the treatment of patients with multiple myeloma and Mantle Cell Lymphoma as recommended in the label approved by the FDA.According to IQVIA MAT Q4 2018 data, the US market for Bortezomib for Injection, 3.5mg/vial is approximately US$609 million. On a consolidated basis, Shilpa Medicare reported sales of Rs. 173.43 crore in the quarter ended December 2018, down 6.52 per cent from Rs. 185.53 crore in the corresponding period last year. The company’s net profit stood at Rs. 12.47 crore with an EPS of Rs.1.46 per share for the quarter ended December 2018, down 27.92 per cent from Rs. 17.30 crore with an EPS of Rs. 2.29 per share YoY. The company’s EBITDA stood at at Rs. 29.30 crore in December 2018 down 9.03% from Rs. 32.21 crore in December 2017.</p>


        </div>
      </div>

      <p class="footer">Disclaimer: Participation in stocks involves substantial risk of loss and is not suitable for every investor. The valuation of stocks fluctuates, and, as a result, clients may lose more than their original investment.</p>

    </div>


</body>
</html>