<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/aboutus">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/whystocks">Why Stocks</a>
                </li>
                <li class="nav-item">
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
              </ul>
            </div>
          </nav>
          <h6>To access virtual portfolio successful login is required</h6>
          <h6>In case You are a first time user please <a href="/signup">Sign Up</a> first before proceeding to login</h6>
          <h6>Please ensure that You enter correct Email-ID and Password otherwise incase of wrong email-id and/or password you will have to re-enter these details</h6>


        <form action="/login" method="POST" class="border">
                <div class="imgcontainer">
                  <img src="sign_in.png" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                  <label for="uname"><b>Email-ID </b></label>
                  <input type="email" placeholder="Enter Your Email-ID" name="email" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="password" required>
              
                  <button id="formButton" class="btn btn-success" type="submit">Login</button>
                <a <button id="formButton" class="btn btn-danger" type="button" class=" cancelbtn" href="/login" >Cancel</button></a>
                  <span class="psw"><a href="#">Forgot password?</a></span>
                </div>
              </form>
</body>
</html>