<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" >
    <link rel="stylesheet" href="style2.css">
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/aboutus">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/whystocks">Why Stocks</a>
                </li>
                <li class="nav-item">
                
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
              </ul>
            </div>
          </nav>
  <form action="/signup" method="POST">
    <div class="container-fluid">
    <input type="image" src="profile.png" alt="Submit" width="48" height="48"> 
    <br>
    <h4>Please enter Your details below&nbsp;:</h4>
    
    <input type="text" placeholder="Enter Your Name" width="48" name="name">
    <br>
    <input type="email" placeholder="Enter a valid Email-id" width="48" name="email">
    <br>
    <input type="password" placeholder="Create Password" width="48" name="password">
    <br>
    <input type="password" placeholder="Please retype your Password" width="48" name="confirmPassword">
    <br>
    <button id="formButton" class="btn btn-success">Sign Up</button>
    <br>
    <a <button id="formButton" class="btn btn-danger" type="button" class=" cancelbtn" href="/signup" >Cancel</button></a>
    <br>
    <div class="container-fluid">
                  <p>Already have an account? <a href="/login">Sign in</a> registered users will be redirected to Sign in if they try to signup  </p>
                  <p>In case Password and retyped password do not match You will have to refill all details</p>
                </div>
  </div>
                
              </form>
    
</body>
</html>