<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="homepage.css">

</head>
<body>
    
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="aboutus">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="whystocks">Why Stocks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/virtualpage">Virtual Portfolio</a>
                </li>

              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-5 col-md-3">
                <br>
                <h5>Welcome User</h5>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-2">
                <br>
                <strong>52-Week High</strong>                
            </div>
            <div class="col-md-2">
                <br>
                <strong>52-Week Low</strong>                
            </div>            
            <div class="col-md-2">
                <br>
                <strong>Top 10 Gainers</strong>                
            </div>
            <div class="col-md-2">
                <br>
                <strong>Top 10 Losers</strong>                
            </div>            
        </div>

        <br>
        <br>
        <br>

        <div class="row">
            <div class="offset-md-1 col-md-3">

                <strong>User Virtual Portfolio</strong>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Scripp Name</th>
                            <th>CMP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Reliance Instrustries Limited</td>
                            <td>1331.00</td>
                        </tr>
                        <tr>
                            <td>Maruti Suziki India Ltd</td>
                            <td>7175.45</td>
                        </tr>
                        <tr>
                            <td>HDFC Bank Limited</td>
                            <td>2236.90</td>
                        </tr>
                        <tr>
                            <td>Bajaj Finance Limited</td>
                            <td>2997.45</td>
                        </tr>
                        <tr>
                            <td>Wipro Limited</td>
                            <td>281.25</td>
                        </tr>                                                                        
                    </tbody>
                </table>
            </div>    
            <div class="col-md-3">
                <br>
                <br>
                <br>
                <img src="pie.jpg" width="250" height="250">        
            </div>
            <div class="offset-md-1 col-md-3">
                <strong>Watchlist of Scripps</strong>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Scripp Name</th>
                            <th>CMP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tata Motors</td>
                            <td>215.80</td>
                        </tr>
                        <tr>
                            <td>Cipla Ltd</td>
                            <td>546.45</td>
                        </tr>
                        <tr>
                            <td>Adani Ports</td>
                            <td>385.00</td>
                        </tr>
                        <tr>
                            <td>Hindustan Uniliver Ltd</td>
                            <td>1699.00</td>
                        </tr>
                        <tr>
                            <td>BPCL</td>
                            <td>359.00</td>
                        </tr>                                                                        
                    </tbody>
                </table>
            </div>



        </div>
        <br>
        <br>
        <br>
        <br>
        <br>


      <p class="footer">Disclaimer: Participation in stocks involves substantial risk of loss and is not suitable for every investor. The valuation of stocks fluctuates, and, as a result, clients may lose more than their original investment.</p>

    </div>


</body>
</html>