<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/aboutus">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/whystocks">Why Stocks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/virtualpage">Virtual Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-1">
                <a href="https://google.com" target="_blank" class="btn btn-outline-success my-2 my-sm-0"role="button" aria-disabled="false">Use Google Search</a>
              </form>
            </div>
          </nav>


        <br>

    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h3>Why-Stocks Clearing 5 Common Myths</h3>
      <br>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Myth -- Investing in Stock Market is same as Gambling
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Though both do involve money,risk and uncertainty of winning or losing it is wrong to arrive at the conclusion that both stocks investing and gambling is same. See if you are investing without doing any study, analysis or diversification then in that case investing in stocks is similar to rolling a dice as in Gambling that doesn’t allow anyone to change the probability as there are only 2 outcomes either a ‘head’ or ‘tail’ while gambling on a coin toss. However if investors pay proper attention to fundamentals like balance sheet, profit loss statement, cash flow statement, and work on diversifying their portfolio which reduces the exposure to a particular sector or stock rather than random guesses or blindly following someone's advice investors can change the probability of winning. Investing follows the principle of Educated Risk and Reward risk whereas gambling follows either you win or lose.Always keep in mind risk comes from not knowing what you are doing. Definitely, without proper education stock market is risky. But with proper training and knowledge, anyone can increase reward and reduce risk. To remove fear of investing and build the habit analyzing stocks we have created virtual portfolio on our website to get you started with investing without worrying about losing actual money.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Myth -- You need a lot of money to make a lot more money.
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        People presume that you can’t start investing until you have a whole lot of money essentially meaning that  investing is rich people’s game in fact Warren Buffett, started his first investment with only a few dollars at an age of eleven however at the same that those mean that you can expect an overnight success. A good thorough study about the company and just a few bucks in the bank is enough for start investing.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Myth -- Investing on your own is impossible, paying a professional is better than making your own investing decisions.
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Today people pay a lot to professional managers just because they believe in this investing myth that hiring a professional is better than making your own investing decisions however the advent of technology has completely changed the way information is transmitted now. This has allowed an average investor to access information quickly and easily to make smarter and faster decisions. We do not discourage You from seeking professional help all we want to say is that You have got the means to educate Yourself also so do not solely rely on what professionals say however if you do not at all have the time to do research you should consider employing the services of an advisor because the cost of investing in something that is not fully understood far outweighs the cost of using an investment advisor. “You don’t need to be a rocket scientist. Investing is not a game where the guy with the 160 IQ beats the guy with 130 IQ.” – Warren Buffett. “Everyone has the brainpower to follow the stock market. If you made it through fifth-grade math, you can do it.” – Peter Lynch
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Myth -- Investing in stock market is just about buying low and sell high
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        Just buy low and sell high: this is one of the most common investing myth among the non-investors. They think investing is simple. You just have to buy low and sell high. What they don’t understand is that it takes successful investors years to learn what’s high and what’s low. Even, if you get a good start and bought the stock at a low price, it’s not easy to find an exit point. So you may ask ‘how to pick a stock?’ By tracking and analyzing stocks, you can spot and cash-in on opportunities as and when they emerge which will maximize your profitability. While relying on advice of brokers and market experts should form the basis for your selection process, due consideration must be given to your investment objective, risk profile and the stock fundamentals. Fundamental analysis will tell you whether a stock is currently undervalued, correctly priced or overvalued, thereby enabling you to choose the scrip that has a scope of appreciation. An investor must not hesitate to rein his equity portfolio if the company’s business prospects deteriorate or investors’ circumstances or objectives change.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          Myth -- One should Buy the stocks on every dip
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        Buying good stocks on dips is a good idea but buying bad stocks on dips is a very bad idea. Whenever you get this kind of bad idea think about stocks like Kingfisher, Deccan Chronicle, Satyam and many others which vanished without a trace. There is a difference between a quality stock correcting, a cyclical stock correcting and a worthless stock crumbling. How to invest in share markets is all about knowing this critical difference. You must accumulate cyclical stocks only when the cycle is showing prospects of a bounce. High quality stocks can be added on dips, but volatile and speculative stocks are a strict no.
      </div>
    </div>
  </div>
</div>

</div>


</body>
</html>